<style>
p {
    text-align: center;
}

icon {
    font-size: 2em;
    margin: auto;
}

form.danger {
    border: 3px solid var(--red);
}
</style>

<script lang="typescript">
import { createEventDispatcher } from "svelte";

const dispatch = createEventDispatcher();

export let dangerous = false;
export let primaryButtonText: string;
export let content: string;
</script>

<form class:danger="{dangerous}">
    {#if dangerous}
        <icon>⚠️</icon>
    {/if}
    <p>{@html content}</p>
    <button
        on:click|self="{() => {
            dispatch('Submitted');
        }}"
        class:danger="{dangerous}">{primaryButtonText}</button
    >
</form>
