<script lang="typescript">
import { createEventDispatcher } from "svelte";
import { toast } from "@app/stores";

let name = "";

const dispatch = createEventDispatcher();

function handleSubmit(event: Event) {
    if (name === undefined || name === "") {
        toast.show("Please enter a Member name!", "warning");
        return;
    }

    dispatch("Submitted", {
        name: name,
    });
}
</script>

<form on:submit|preventDefault="{handleSubmit}">
    <h1>Add Member</h1>
    <label for="name">Name</label>
    <input bind:value="{name}" id="name" placeholder="Alex" />
    <button type="submit">Create</button>
</form>
